.plus {
    margin-bottom: 5px;
    background: #ffff;
    border: none;
    border-radius: 5px;
    color: #2196F3;
}
.table {
    min-width: 700px;
    min-height: 500px;
}
a > i{
    margin-right: 15px;
}
.edit{
    color: yellow;
}
.delete{
    color: red;
}